# 引入公共配置文件,用于脱敏数据库密码等重要信息
spring.config.import: optional:file:secret.yml

eureka:
  client:
    serviceUrl:
      #服务注册地址
      defaultZone: ${my-secret.eureka.defaultZone}
server:
  #运行端口
  port: 8765
spring:
  application:
    #服务注册名称
    name: service-pub-api
  datasource:
    driver-class-name: ${my-secret.db.driver-class-name}
    url: ${my-secret.db.url}
    username: ${my-secret.db.username}
    password: ${my-secret.db.password}
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  #redis
  redis:
    host: ${my-secret.redis.host}
    port: ${my-secret.redis.port}
    password: ${my-secret.redis.password}
    timeout: 2000
  session:
    store-type: redis
    redis:
      namespace: spring:session

